// Background

$bg-primary: #23272f;

$bg-secondary: #343a46;

$bg-dark: #16181d;

$bg-input: #333a45;

$bg-img: #087ea4;

$dropDown-bg: #333A45;

// Text

$text-primary: #f5f6f9;

$text-secondary: #99a1b3;

$text-accent: #087ea4;

$text-card: #e2e3e7;

$border_hover: #087ea4;
